
<h3>Create vacation</h3>

<form class="row g-3 needs-validation" novalidate [formGroup]="checkoutForm" (ngSubmit)="onSave()">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">From</label>
      <input type="text" 
             class="form-control" 
             id="validationCustom01" 
             placeholder="YYYY-MM-DD" 
             pattern="\d{4}-\d{2}-\d{2}" 
             title="Please enter a date in the format YYYY-MM-DD"
             formControlName="startDate" 
             maxlength="10" 
             inputmode="numeric"
             required 
             (input)="onEndDateChanged()"
             oninput="setCustomValidity('XYZ')" 
             oninvalid="setCustomValidity('Please enter a valid date in the format YYYY-MM-DD')">
      
      <div class="valid-feedback">
        Please provide a start date
      </div>
    </div>
    <div class="col-md-4">
      <label for="vavalidationCustom02" class="form-label">To</label>
      <input type="text" class="form-control" id="vavalidationCustom02" placeholder="YYYY-MM-DD" formControlName="endDate" maxlength="10" required (input)="onEndDateChanged()">
      <div class="invalid-feedback">
        Please provide an end date
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServerUsername" class="form-label">Days: quantity</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" formControlName="quantityDays"  required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
        Please provide a quantity of days.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="idStatus" class="form-label">Status</label>
      <select class="form-select" id="idStatus" aria-describedby="idStatusFeedback" formControlName="status" required>
       <!--  <option selected disabled value="">Choose...</option> -->
        <option [ngValue]="null" disabled>Choose...</option>
        <option *ngFor="let status of listOfStatus">{{status}}</option>
       <!--  <option>In progress</option>
        <option>Approved</option>
        <option>Decline</option> -->
      </select>
      <div id="idStatusFeedback" class="invalid-feedback">
        Please select correct status.
      </div>
    </div>
    <div class="col-md-4">
        <label for="idEmployee" class="form-label">Employee</label>
       
        <select class="form-select" id="idEmployee" aria-describedby="idEmployeeFeedback" formControlName="employee" required>
          
          <option [ngValue]="null" disabled>Choose...</option>
          <option *ngFor="let employee of listOfEmployees" value="{{employee.id}}">{{employee.name}}</option>
        </select>
        <div id="idEmployeeFeedback" class="invalid-feedback">
          Please choose an employee.
        </div>
      </div>
      <div class="col-md-4">
        <label for="idSubstitution" class="form-label">Substitution</label>
        <select class="form-select" id="idSubstitution" aria-describedby="idSubstitutionFeedback" formControlName="substitution" required>
          <option [ngValue]="null" disabled>Choose...</option>
          <option *ngFor="let employee of listOfEmployees" value="{{employee.id}}">{{ employee.name }}</option>
        </select>
        <div id="idSubstitutionFeedback" class="invalid-feedback">
          Please choose a substitution.
        </div>
      </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
        <label class="form-check-label" for="invalidCheck3">
            Entered data are correct
        </label>
        <div id="invalidCheck3Feedback" class="invalid-feedback">
          Please check the box before submitting.
        </div>
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-outline-primary" type="submit">Save vacation</button>
    </div>
  </form>

  