<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand" href="#">Container</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Employees</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="employees/create">Create</a></li>
              <li><a class="dropdown-item" href="employees/edit">Edit</a></li>
              <li><a class="dropdown-item" href="employees/list">List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Vacations</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="vacations/create">Create</a></li>
                <li><a class="dropdown-item" href="vacations/edit">Edit</a></li>
                <li><a class="dropdown-item" href="vacations/list">List</a></li>
              </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>


<!--
  <app-create-employee></app-create-employee>
<app-list-employees></app-list-employees>
<app-create-vacation></app-create-vacation>
<app-list-vacation></app-list-vacation>
-->

<router-outlet></router-outlet>

