<div class="alert alert-primary" role="alert">
    <h1 class="user-list-top">Employees list:</h1>
  </div>



<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Total Holidays</th>
        <th scope="col">Remaining Holidays</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of listOfEmployees">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.totalHolidays}}</td>
        <td>{{employee.remainingHolidays}}</td>
      <!--   <td><span class="material-symbols-outlined" >delete</span></td> -->
        <td><span class="material-symbols-outlined" (click)="confirmDeleteEmployee(employee.id!)">delete</span></td>
    <!--     <td><span class="material-symbols-outlined" (click)="deleteEmployee(employee.id!)">delete</span></td> -->
        <td><a class="dropdown-item" href="employees/edit/{{employee.id}}"> <span class="material-symbols-outlined">edit</span></a></td>
  </tr>
    </tbody>
   </table>
  
